---
layout: default
---

<script>
        $(document).ready(function(){
            $('#typewriteText').typewrite({
                actions: [
                    {type: '안녕하세요. 잡동사니 기랸씨 github 입니다.'}
                ]
            });
        });
    </script>


<div class="col-lg-8 offset-md-2">
  <div class="jumbotron" style="text-align: center;">
    <h1 class="display-4">잡동사니 기랸씨</h1>
    <h3> 개발자를 꿈꾸는 기랸씨입니다.</h3>
    <p class="lead" id="typewriteText"></p>
    <button class="btn btn-dark btn-lg"><a href="/about">들어가기 </a></button>
  </div>
</div>
